<!DOCTYPE html>
<html>
  <head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/rails_default' %>
		<%= render 'layouts/shim' %>
  </head>

  <body>
		<%= render 'layouts/header' %>
		<div class="container">
			<%= flash.each do |message_type, message| %>
				<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) %>
		</div>
  </body>
</html>
